{% extends 'login/base.html' %}

{% block title %}<div style="text-align: center;">首页</div>{% endblock %}

{% block script %}
{% if message %}
    <script>alert('{{ message }}')</script>
{% endif %}
{% endblock %}

{% block content %}
{% if request.session.username %}
    <nav>
        <a href="{% url 'login:logout' %}"><div style="text-align: center;">注销</div></a>
    </nav>
    <p>欢迎，{{ request.session.username }}！</p>
{% else %}
    <nav>
        <a href="{% url 'login:login' %}"><div style="text-align: center;">登录</div></a> |
        <a href="{% url 'login:register' %}"><div style="text-align: center;">注册</div></a>
    </nav>
    <p><div style="text-align: center;">欢迎</div></p>
{% endif %}
{% endblock %}
