<!--{% load static %}-->
<!DOCTYPE HTML>
<html>
<div id=”t-warp”>
    <head>
        <link href="/static/login/image/favicon.ico" rel="shortcut icon">
        <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'login/css/index.css' %}" rel="stylesheet"/>
        <meta charset="utf-8">
        <!--    <title>websocket通信客户端</title>-->
        <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    </head>
    <body>
    <h4>{{ request.session.user_name }}，欢迎您！城市：{{ request.session.user_city }}</h4>
    <input type="hidden" value={{ request.session.user_name }} id="username"/>
    <input type="hidden" value={{ request.session.user_city }} id="usercity"/>
    <p>
        <a href="/logout/">注销</a>
    </p>
    <h1 align="center">Weather Prediction</h1>
    <body>


    <div class="box">
        <!-- 标签使用量统计 -->
        <div class="box-header">
            <h3 class="box-title">全国数据统计</h3>
        </div>
        <div id="china_div" class="col-md-12" style="float: left;height:600px;width:800px"></div>
        <!-- 渲染容器一定要设置宽高 -->
    </div>
    </body>
    <body>
    <div id="chart" style="float: left;width:700px;height:400px;"></div>
    </body>
    </body>
    <body>
    <table border="4" style="float: left; text-align: center" >
        <tr>
            <th>日期</th>
            <th>最高气温</th>
            <th>最低气温</th>
            <th>平均气温</th>
        </tr>
    </table>
    </body>
    <script type="text/javascript">
        initChina();
        var datanav1 = [{
            "DATE": "2020/7/2",
            "MAXT": "92.40365998",
            "MINT": "83.45532658",
            "AVGT": "87.92949328"
        }, {
            "DATE": "2020/7/3",
            "MAXT": "92.64798735",
            "MINT": "83.11244801",
            "AVGT": "87.38021768"
        }, {
            "DATE": "2020/7/4",
            "MAXT": "92.95936276",
            "MINT": "82.83958245",
            "AVGT": "87.39947261"
        }, {
            "DATE": "2020/7/5",
            "MAXT": "93.26402757",
            "MINT": "82.56296996",
            "AVGT": "87.41349876"
        }, {
            "DATE": "2020/7/6",
            "MAXT": "93.6600389",
            "MINT": "82.38060574",
            "AVGT": "87.52032232"
        }, {
            "DATE": "2020/7/7",
            "MAXT": "94.10404613",
            "MINT": "81.24910481",
            "AVGT": "87.67657547"
        }, {"DATE": "2020/7/8", "MAXT": "94.28125253", "MINT": "81.85362166", "AVGT": "87.5674371"}];
        var datanav = [{
            "DATE": "2020/7/2",
            "MAXT": "89.10289831",
            "MINT": "73.82505679",
            "AVGT": "81.46397755"
        }, {
            "DATE": "2020/7/3",
            "MAXT": "90.53099187",
            "MINT": "71.3940479",
            "AVGT": "80.96251989"
        }, {
            "DATE": "2020/7/4",
            "MAXT": "91.52520562",
            "MINT": "70.22177362",
            "AVGT": "80.87348962"
        }, {
            "DATE": "2020/7/5",
            "MAXT": "92.05453952",
            "MINT": "69.25874045",
            "AVGT": "80.65663998"
        }, {
            "DATE": "2020/7/6",
            "MAXT": "92.45352115",
            "MINT": "68.48883679",
            "AVGT": "80.47117897"
        }, {
            "DATE": "2020/7/7",
            "MAXT": "92.83741747",
            "MINT": "67.8773917",
            "AVGT": "80.35740459"
        }, {"DATE": "2020/7/8", "MAXT": "93.47529981", "MINT": "67.62149399", "AVGT": "80.5483969"}];
        var date, mint, maxt, avgt;


        // 打开一个 web socket
        var ws = new WebSocket("ws://47.94.6.112:5678/ws");
        ws.send(document.getElementById('usercity').value);
        // 连接建立后的回调函数
        ws.onopen = function () {
            // Web Socket 已连接上，使用 send() 方法发送数据
            ws.send("admin:123456");
            ws.send(document.getElementById('username').value);
        };
        //先直接显示当亲登录用户注册时填写的城市信息
        initChina();

        function initChina() {
            var splitList = [{start: 400, end: 500},
                {start: 300, end: 400},
                {start: 200, end: 300},
                {start: 100, end: 200},
                {start: 0, end: 100}];

            var mydata = [
                {name: '北京', value: '10'}, {name: '天津', value: '20'},
                {name: '上海', value: '30'}, {name: '重庆', value: '40'},
                {name: '河北', value: '50'}, {name: '河南', value: '60'},
                {name: '云南', value: '70'}, {name: '辽宁', value: '80'},
                {name: '黑龙江', value: '90'}, {name: '湖南', value: '100'},
                {name: '安徽', value: '110'}, {name: '山东', value: '120'},
                {name: '新疆', value: '130'}, {name: '江苏', value: '140'},
                {name: '浙江', value: '150'}, {name: '江西', value: '160'},
                {name: '湖北', value: '170'}, {name: '广西', value: '180'},
                {name: '甘肃', value: '190'}, {name: '山西', value: '200'},
                {name: '内蒙古', value: '25'}, {name: '陕西', value: '35'},
                {name: '吉林', value: '45'}, {name: '福建', value: '55'},
                {name: '贵州', value: '65'}, {name: '广东', value: '75'},
                {name: '青海', value: '85'}, {name: '西藏', value: '95'},
                {name: '四川', value: '105'}, {name: '宁夏', value: '115'},
                {name: '海南', value: '125'}, {name: '台湾', value: '135'},
                {name: '香港', value: '200'}, {name: '澳门', value: '200'}
            ];
            var optionMap = {
                //backgroundColor: '#ffffff',
                tooltip: {
                    trigger: 'item'
                },
                //左侧小导航图标
                visualMap: {
                    left: 'left',
                    top: 'top',
                    //splitList:splitList,
                    color: ['red', '#9feaa5', '#85daef', '#74e2ca', '#e6ac53'],
                    show: false
                },
                //配置属性
                series: [{
                    name: '城市：',
                    type: 'map',
                    mapType: 'china', // 地图类型，支持world，china及全国34个省市自治区
                    roam: true,  // 是否开启滚轮缩放和拖拽漫游,默认为false（关闭），其他有效输入为true（开启），'scale'（仅开启滚轮缩放），'move'（仅开启拖拽漫游）
                    label: {
                        normal: {
                            show: true  //省份名称
                        },
                        emphasis: {
                            show: false
                        }
                    },
                    data: mydata,  //数据
                }]
            };

            //初始化echarts实例
            var myChart = echarts.init(document.getElementById('china_div'));
// 	    //使用制定的配置项和数据显示图表
            myChart.setOption(optionMap);

            myChart.on('click', function (params) {
                if ("WebSocket" in window) {
                    datanav = null;
                    var c;
                    if (params.name == "北京") {
                        c = 'BeiJing';
                    } else if (params.name == "黑龙江") {
                        c = 'HaErBin';
                    } else if (params.name == "吉林") {
                        c = 'ChangChun';
                    } else if (params.name == "辽宁") {
                        c = 'ShenYang';
                    } else if (params.name == "内蒙古") {
                        c = 'HuHeHaoTe';
                    } else if (params.name == "山东") {
                        c = 'JiNan';
                    } else if (params.name == "天津") {
                        c = 'TianJing';
                    } else if (params.name == "河北") {
                        c = 'ShiJiaZhuang';
                    } else if (params.name == "山西") {
                        c = 'TaiYuan';
                    } else if (params.name == "河南") {
                        c = 'ZhengZhou';
                    } else if (params.name == "安徽") {
                        c = 'HeFei';
                    } else if (params.name == "江苏") {
                        c = 'NanJing';
                    } else if (params.name == "上海") {
                        c = 'ShangHai';
                    } else if (params.name == "浙江") {
                        c = 'HangZhou';
                    } else if (params.name == "福建") {
                        c = 'FuZhou';
                    } else if (params.name == "广东") {
                        c = 'GuangZhou';
                    } else if (params.name == "香港") {
                        c = 'HongKong';
                    } else if (params.name == "澳门") {
                        c = 'Macau';
                    } else if (params.name == "海南") {
                        c = 'HaiKou';
                    } else if (params.name == "广西") {
                        c = 'NanNing';
                    } else if (params.name == "云南") {
                        c = 'KunMing';
                    } else if (params.name == "贵州") {
                        c = 'GuiYang';
                    } else if (params.name == "四川") {
                        c = 'ChengDu';
                    } else if (params.name == "陕西") {
                        c = 'XiAn';
                    } else if (params.name == "重庆") {
                        c = 'ChongQing';
                    } else if (params.name == "湖北") {
                        c = 'WuHan';
                    } else if (params.name == "湖南") {
                        c = 'ChangSha';
                    } else if (params.name == "江西") {
                        c = 'NanChang';
                    } else if (params.name == "甘肃") {
                        c = 'LanZhou';
                    } else if (params.name == "宁夏") {
                        c = 'YinChuan';
                    } else if (params.name == "青海") {
                        c = 'XiNing';
                    } else if (params.name == "西藏") {
                        c = 'LaSa';
                    } else if (params.name == "新疆") {
                        c = 'WuLuMuQi';
                    }

                    ws.send(c);//发送城市代码

                    // 接收到服务器消息后的回调函数
                    ws.onmessage = function (evt) {

                        datanav = JSON.parse(evt.data);
                        date = datanav.map(x => {
                            return x.DATE
                        });
                        mint = datanav.map(x => {
                            return Math.round(x.MINT)
                        });
                        maxt = datanav.map(x => {
                            return Math.round(x.MAXT)
                        });
                        avgt = datanav.map(x => {
                            return Math.round(x.AVGT)
                        });
                        $(" tr:gt(0)").remove();//删除除第一个tr后的所有tr 目的是清除表格内容
                        var table = document.getElementsByTagName('table')[0];
                        for (var i = 0; i < datanav.length; i++) {
                            var tr = table.insertRow(table.rows.length);
                            var obj = datanav[i];
                            for (var p in obj) {
                                var td = tr.insertCell(tr.cells.length);
                                if (p == "DATE")
                                    td.innerText = obj[p];
                                else
                                    td.innerText = Math.round(obj[p]);
                            }
                        }
                        var myChart = echarts.init(document.getElementById("chart"));
                        myChart.setOption({
                            //图标题
                            title: {text: '天气预测'},
                            //图提示框
                            tooltip: {
                                trigger: "axis",

                                axisPointer: {
                                    type: 'shadow',
                                },
                                axisLine: {
                                    color: ['#ff000a'],
                                },
                            },
                            //图例
                            legend: {
                                data: ['最低气温', '最高气温', '平均气温'],
                                color: ['#ff000a'],
                            },
                            //x轴属性
                            xAxis: {
                                data: date,
                                axisTick: {alignWithLabel: true},
                                axisLabel: {
                                    interval: 0,
                                    rotate: -30,
                                },
                                axisLine: {
                                    lineStyle: {
                                        color: ['#ff000a'],
                                        width: 1,
                                    }
                                }
                            },
                            //y轴属性
                            yAxis: {
                                max: 100,
                                min: 50,
                                axisLabel: {
                                    interval: 0,
                                    rotate: -30,
                                },
                                axisLine: {
                                    lineStyle: {
                                        color: ['#ff000a'],
                                        width: 1,
                                    }
                                }
                            },
                            //图属性
                            series: [
                                {
                                    name: '最低气温',
                                    type: 'line',//图类型：柱状图
                                    color: ['#1600ff'],//设置图像颜色
                                    data: mint,//图表的数值
                                    // itemStyle : { normal: {label : {show: true}}}
                                }, {
                                    name: '最高气温',
                                    type: 'line',//图类型：柱状图
                                    color: ['#ff000a'],//设置图像颜色
                                    data: maxt,//图表的数值
                                }, {
                                    name: '平均气温',
                                    type: 'line',//图类型：柱状图
                                    color: ['#ff00dc'],//设置图像颜色
                                    data: avgt,//图表的数值
                                }
                            ]
                        });

                        //ws.close();


                    };

                    // 连接关闭后的回调函数
                    ws.onclose = function () {
                        // 关闭 websocket
                        alert("连接已关闭...");
                    };
                    //alert(params.name);
                } else {
                    // 浏览器不支持 WebSocket
                    alert("您的浏览器不支持 WebSocket!");
                }
            });

        }


        function randomData() {
            return Math.round(Math.random() * 500);

        }

    </script>

</div>
</html>