<!DOCTYPE HTML>
<html>

    <head>

    <meta charset="utf-8">
    <title>websocket通信客户端</title>
    <body>
    <h1>{{ request.session.user_name }}，欢迎您！</h1>
    <p>
        <a href="/logout/">注销</a>
    </p>
    </body>
       <style type="test/css">
       table{
           border:1px solid black;
           border-collapse: collapse;
       }
       td,th{
           border:1px solid black;
       }
   </style>
       <script type="text/javascript">
           var datanav=[{"DATE": "2020/1/10", "MAXT": "89", "MINT": "69", "AVGT": "80"}, {"DATE": "2020/1/11", "MAXT": "89", "MINT": "73", "AVGT": "80"},
{"DATE": "2020/1/12", "MAXT": "86", "MINT": "69", "AVGT": "80"},
{"DATE": "2020/1/13", "MAXT": "79", "MINT": "66", "AVGT": "80"},
{"DATE": "2020/1/14", "MAXT": "96", "MINT": "74", "AVGT": "80"},
{"DATE": "2020/1/15", "MAXT": "88", "MINT": "74", "AVGT": "80"},
{"DATE": "2020/1/16", "MAXT": "92", "MINT": "72", "AVGT": "80"}];
           var received_msg1='lzh'
           {#将json字符串转为json对象#}

           <!--parse方法将字符串转json对象要求格式必须单引号套双引号-->

           {#obj.docs;#}
           window.onload=function() {
               var table = document.getElementsByTagName('table')[0];
               for (var i = 0; i < datanav.length; i++) {
                   var tr = table.insertRow(table.rows.length);
                   var obj = datanav[i];
                   for (var p in obj) {
                           var td = tr.insertCell(tr.cells.length);
                           td.innerText = obj[p];
                       }
                   }
               }


               function WebSocketTest() {
                   if ("WebSocket" in window) {
                       // 打开一个 web socket
                       var ws = new WebSocket("ws://47.94.6.112:5678");


                       // 接收到服务器消息后的回调函数
                       ws.onmessage = function (evt) {
                           received_msg = evt.data;

                           alert("收到消息：" + received_msg);
                           document.getElementById('textfield').value = received_msg

                       };

                       // 连接关闭后的回调函数
                       ws.onclose = function () {
                           // 关闭 websocket
                           alert("传输结束...");
                       };
                   } else {
                       // 浏览器不支持 WebSocket
                       alert("您的浏览器不支持 WebSocket!");
                   }
            }

      </script>
       <h1 align="center">Weather Prediction</h1> <!标题 居中（这是html的注释方式）>
{#       <div onclick="alert(received_msg1)">点我输出变量</div>#}

<body>
   <table border="4">
       <tr>
           <th>日期</th>
           <th>最高气温</th>
           <th>最低气温</th>
           <th>平均气温</th>
       </tr>
   </table>
</body>

   </head>

   <body onload="WebSocketTest()">
{#   <body onload="insert()">#}

   </body>
</html>