<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<label>
    <select name="mySelect" id="s1">
        <option value="BeiJing">BeiJing</option>
        <option value="ChangChun">ChangChun</option>
        <option value="ChangSha">ChangSha</option>
        <option value="ChengDu">ChengDu</option>
        <option value="ChongQing">ChongQing</option>
        <option value="FuZhou">FuZhou</option>
        <option value="GuangZhou">GuangZhou</option>
        <option value="GuiYang">GuiYang</option>
        <option value="HaErBin">HaErBin</option>
        <option value="HaiKou">HaiKou</option>
        <option value="HangZhou">HangZhou</option>
        <option value="HeFei">HeFei</option>
        <option value="HongKong">HongKong</option>
        <option value="HuHeHaoTe">HuHeHaoTe</option>
        <option value="JiNan">JiNan</option>
        <option value="KunMing">KunMing</option>
        <option value="LanZhou">LanZhou</option>
        <option value="LaSa">LaSa</option>
        <option value="Macau">Macau</option>
        <option value="NanChang">NanChang</option>
        <option value="NanJing">NanJing</option>
        <option value="NanNing">NanNing</option>
        <option value="ShangHai">ShangHai</option>
        <option value="ShenYang">ShenYang</option>
        <option value="ShiJiaZhuang">ShiJiaZhuang</option>
        <option value="TaiYuan">TaiYuan</option>
        <option value="TianJin">TianJin</option>
        <option value="WuHan">WuHan</option>
        <option value="WuLuMuQi">WuLuMuQi</option>
        <option value="XiAn">XiAn</option>
        <option value="XiNing">XiNing</option>
        <option value="YinChuan">YinChuan</option>
        <option value="ZhengZhou">ZhengZhou</option>
    </select>
</label>

<br/><br/><br/>
<button onclick="choose()" >确定</button>
<script type="text/javascript">
function choose() {
   alert(document.getElementById("s1").value);
}
</script>
</body>
</html>